<!-- @for(employee of employees$ | async; track $index) {
    <div>{{employee.name}}</div>
} -->

<div class="pi-container mt-6">
    <mat-card>
        <mat-card-header>
            <h3>Summary</h3>
        </mat-card-header>
        <mat-card-content>
            <div class="grid grid-cols-2">
                <div>
                    <label>Total number of employees:</label>
                    <h5>{{dashboardInformation()?.totalNumberOfEmployees ?? 0}}</h5>
                </div>
                <div>
                    <label>Total Clocked in time:</label>
                    <h5>{{(dashboardInformation()?.totalClockedTime ?? 0) | number}}</h5>

                </div>
                <div>
                    <label>Total amount paid for regular hours:</label>
                    <h5>{{(dashboardInformation()?.totalAmountPaidForRegularHours ?? 0)| currency}}</h5>
                </div>
                <div>
                    <label>Total amount paid for overtime hours:</label>
                    <h5>{{(dashboardInformation()?.totalAmountPaidForOvertimeHours ?? 0)| currency}}</h5>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="mt-3">
        <button mat-stroked-button (click)="onBulkEditClicked()" [disabled]="!isAnyRowSelected">Bulk Edit</button>
    </div>

    <div class="mt-3">
        <app-table [employees]="(dashboardEmployees()) ?? []" (rowSelectionChanged)="rowSelectionChanged($event)"></app-table>
    </div>

</div>