<table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="totalClockedInTime">
      <th mat-header-cell *matHeaderCellDef> Total Clocked In Time </th>
      <td mat-cell *matCellDef="let element"> {{element.totalClockedInTime | number}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmountPaidForRegularHours">
      <th mat-header-cell *matHeaderCellDef> Total Amount Paid For Regular Hours </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmountPaidForRegularHours | currency}} </td>
    </ng-container>
  
    <ng-container matColumnDef="totalAmountPaidForOvertimeHours">
      <th mat-header-cell *matHeaderCellDef> Total Amount Paid For Overtime Hours </th>
      <td mat-cell *matCellDef="let element"> {{element.totalAmountPaidForOvertime | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>